
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;  /* Breite der Scroll-Leiste */
    height: 12px; /* Höhe der Scroll-Leiste */
}

::-webkit-scrollbar-track {
    background: gray;   /* Hintergrundfarbe des Scrollbar-Tracks */
    border-radius: 10px; /* Radius der Ecken des Scrollbar-Tracks */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; /* Radius der Ecken des Scrollbar-Thumb */
    background: darkblue;  /* Farbe des Scrollbar-Thumbs */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 90);  /* Farbe des Scrollbar-Thumbs bei Hover */
}


/*Agemein Style*/
body {
    font-family: 'Rubik', sans-serif;  /* Verwendung der Rubik-Schriftart */
    background-color: rgb(80, 80, 255);  /* Hintergrundfarbe des Body */
    padding-left: 10px;  /* Abstand links */
    padding-right: 10px;  /* Abstand rechts */
    background-image: url("backgroud-map.jpg");  /* Hintergrundbild */
    background-repeat: no-repeat;  /* Wiederholung des Hintergrundbilds verhindern */
    background-position: center;  /* Zentrierung des Hintergrundbilds */
    background-attachment: fixed;  /* Fixierung des Hintergrundbilds beim Scrollen */
    background-size: auto, 100%;  /* Größe des Hintergrundbilds */
}

/* Stil für Hyperlinks */
a {
    text-decoration: none;  /* Keine Unterstreichung für Links */
    color: black;  /* Textfarbe für Links */
}

a:hover {
    background-color: darkgray;  /* Hintergrundfarbe für Links bei Hover */
    text-decoration: underline;  /* Unterstreichung für Links bei Hover */
}



/*navbar Style*/
#navbar {
    width: 100%;  /* Breite der Navbar */
}

#div-nav {
    display: flex;
    justify-content: left;  /* Linksausrichtung des Navbar-Inhalts */
    background-color: lightgray;  /* Hintergrundfarbe der Navbar */
    font-size: 25px;  /* Schriftgröße der Navbar-Elemente */
    color: black;  /* Textfarbe der Navbar */
}

#navbar-akt {
    background-color: gray;  /* Hintergrundfarbe für das aktive Navbar-Element */
}


    .dropbtn {
        background-color: lightgray;  /* Hintergrundfarbe des Dropdown-Buttons */
        font-size: 25px;  /* Schriftgröße des Dropdown-Buttons */
        color: black;  /* Textfarbe des Dropdown-Buttons */
        border: none;  /* Kein Rand für den Dropdown-Button */
    }
    
    .dropdown {
        position: relative;  /* Position relativ zum normalen Fluss */
        display: inline-block;  /* Zeigt das Element als Inline-Block an */
    }
    
    .dropdown-content {
        display: none;  /* Versteckt den Dropdown-Inhalt standardmäßig */
        position: absolute;  /* Position absolut zum übergeordneten Element */
        background-color: lightgray;  /* Setzt die Hintergrundfarbe für den Dropdown-Inhalt */
        min-width: 160px;  /* Mindestbreite des Dropdown-Inhalts */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  /* Fügt einen Schatten zum Dropdown-Inhalt hinzu */
        z-index: 1;  /* Setzt die Z-Reihenfolge des Dropdowns über andere Elemente */
    }
    
    .dropdown-content a {
        color: black;  /* Setzt die Textfarbe für Dropdown-Links auf Schwarz */
        padding: 12px 12px;  /* Fügt Polsterung für Dropdown-Links hinzu */
        text-decoration: none;  /* Entfernt die Unterstreichung von Links */
        display: block;  /* Zeigt die Links als Blockelemente an */
    }
    
    .dropdown-content a:hover {background-color: darkgray;}     /* Setzt die Hintergrundfarbe beim Hovern über Dropdown-Links */
    
    .dropdown:hover .dropdown-content {display: block;}           /* Zeigt den Dropdown-Inhalt beim Hovern über das Dropdown an */
    
    .dropdown:hover .dropbtn {background-color: darkgray;}      /* Setzt die Hintergrundfarbe für den Button beim Hovern über das Dropdown */



/*Home Style*/
#div-content-center {
    display: flex;
    justify-content: center;    /* Zentriert den Inhalt horizontal */
}

#title-img {
    height: 300px;
    padding: 10px;
    background-color: white;
}

#title-txt {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 16px;
    background-color: white;
}

#flugzeug {
    height: 150px;
    transition: transform 0.7s;         /* Fügt eine Transformation hinzu, um das Flugzeug zu animieren */
}

#flugzeug:hover {
    transform: translate(500px, 0px);   /* Bewegt das Flugzeug beim Hovern nach rechts */
}


/*Katalog Style*/
#tip-txt {
    font-family: 'Edu TAS Beginner', cursive;   /* Verwendet die Schriftart 'Edu TAS Beginner' für den Text */
    border-radius: 150px;                       /* Setzt den Randradius für das Element */
    display: flex;                              /* Zeigt das Element als Flexbox an */
    align-items: center;                        /* Zentriert die Inhalte vertikal */
    font-size: 50px;                            /* Setzt die Schriftgröße auf 50 Pixel */
    padding: 30px;                              /* Fügt Innenabstand hinzu */
    background-color: gray;                   /* Setzt die Hintergrundfarbe auf Grau */
}

#tip-img {
    height: 300px;
    padding: 5px;
}

#Ktitle-img {    
    height: 100px;
    padding: 10px;
    background-color: white;
}

#Ktitle-txt {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 10px;
    background-color: white;
}

#div-Alg {
    display: flex;
    justify-content: space-around;          /* Verteilt die Inhalte gleichmäßig mit Raum dazwischen */
}

#div-Ang {
    background-color: darkblue;
    padding: 10px;
    width: 90%;
}

#auto-img {
    height: 200px;
    padding-left: 20px;
}

#ziel-img {
    height: 220px;    
    transition: transform 0.7s;
}

#ziel-img:hover {
    transform: scale(1.8,1.8) translate(30px, 0px);             /* Skaliert und verschiebt das Bild beim Hovern */
}

#ziel-txt {
    font-size: 15px;
    color: white;
    padding-left: 20spx;
}

#ziel-txt-link {
    text-decoration: underline;
    color: white;
}

#ziel-map {
    padding: 10px;
    background-color: darkblue;
    height: 200px;
}

#but-txt {
    background-color: darkgrey;
    font-size: 20px;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

/*Über uns Style*/
#Ititle-txt  {
    font-size:40px;
    padding: 20px;
    background-color: white; 
}

#Itxt {
    font-size:25px;
    background-color: white; 
}

#warnung-txt {
    background-color: red;
    width: 99%;
    padding: 10px;
    font-size: 20px;
}

#wichtig-txt {
    background-color: darkblue;
    width: 100%;
    font-size: 20px;
    color: white;
}

/*Unter Katalog Style*/
#top-img {
    background-color: gray;
    height: 500px;
    padding: 15px;
}

#div-top {
    display: flex;
    justify-content: space-around;
}

#div-info {
background-color: darkblue;
width:98%;
padding: 20px;
}

#info-img {
    height: 250px;
    background-color: gray;
    padding: 10px;    
    transition: transform 0.7s;
}

#info-img:hover {
    transform: scale(1.8,1.8) translate(30px, 0px);         /* Skaliert und verschiebt das Bild beim Hovern */
}

#info-txt {
    background-color: gray;
    font-size:20px;
    color: white;
    padding: 20px;
}

/*Anpassung fürs handy*/
@media screen and (max-width: 1000px) {
    body {
        background-repeat: repeat;
    }
    #Ktitle-txt {
        font-size: 30px;
    }
    #tip-txt {        
        font-size: 25px;
    }
    #ziel-map {
        display: none;  /* Versteckt den Dropdown-Inhalt standardmäßig */
    }
    #top-img {
        height: auto;
        width: 95%;
        padding: 5px;
    }
    #info-txt {
        padding: 1px;
        background-color: darkblue;
    }
    #info-img {
        height: 200px;
    }
    #div-info {
        width: 89%; 
    }
    #title-img {
        height: 150px;
    }
    #title-txt {
        font-size: 30px;
    }
    #tip-img {
        height: 150px;
    }
    #flugzeug {
        height: 0px;
    }
    #Ititle-txt {
        font-size: 20px;
    }
    #Itxt {
        font-size: 15px;
    }
    #div-nav {
        font-size: 20px;  /* Schriftgröße der Navbar-Elemente */
    }
    .dropbtn {
        font-size: 20px;  /* Schriftgröße des Dropdown-Buttons */
    }
}

@media screen and (min-width: 1000px) {
    #div-info {
        display: flex;
        justify-content: space-around;        
    }
}